.completed-container {
  padding: 20px;
}

.completed-title {
  margin-bottom: 20px;
}

.completed-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 0;
}

.completed-item {
  width: 80%;
  max-width: 900px;
}
